* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

body.night {
  background: black;
}
